# Magento 2
/app/etc/env.php
/app/etc/config.php
/var/
/generated/
/pub/static/
/pub/media/
/vendor/
/node_modules/
/.idea/
/.vscode/
/.DS_Store
*.log
*.zip
*.tar.gz
*.gz
*.tgz
*.swp
*.swo
*.bak
*.tmp
*.cache
/.warden/db/
/.warden/*.sql
/.warden/*.zip
/.env
/.php-cs-fixer.cache
/.composer/
/.user.ini
/.htaccess
/.htaccess.sample
# Warden
.warden/
# System
Thumbs.db
ehthumbs.db
Icon?
.DS_Store
._*
.Spotlight-V100
.Trashes 