<?xml version="1.0"?>
<!--
/**
 * Copyright © Epoint All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Magento_Backend::content">
                    <resource id="Epoint_CompanyList::companies" title="Companies" sortOrder="100">
                        <resource id="Epoint_CompanyList::company_list" title="Company List" sortOrder="10"/>
                    </resource>
                </resource>
            </resource>
        </resources>
    </acl>
</config> 